<!DOCTYPE html>
<html>
<head>
	<title>DashBoard</title>
</head>
<body>
<fieldset>
<p>Welcome to Secret Page </p>
<p>Your name is </p><br>
<p>{{name}}</p>
<br>
<p>Click below to go back to Register</p><br>


<a href="/logout">LOGOUT</a>

<p><a href="/change">Do you want to Change password</a></p>



<!--Flash messages display -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages%}
			<h3>{{message}}</h3>
		{% endfor%}
	{% endif %}

{% endwith %}
</fieldset>
</body>
</html>